﻿body {
    background-color: #F57921;
    font-family: Arial, Helvetica, sans-serif;
}

#boggle-container {
    display: flex;
    flex-direction: column;
    width: 490px;
    margin: 0 auto;
}

.logo {
    align-self: center;
}

#board {
    border: 5px solid #FFCA08;
    background-color: #398BD4;
    padding: 5px;
    margin-top: 20px;
}

.row {
    display: flex;
    text-align:center;
    flex-direction:row;
    padding: 5px;
}

.boggle:hover {
    cursor: pointer;
}

.boggle {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: -4px 2px 8px 1px rgba(0,0,0,0.69);
    flex:1 1 auto;
    margin:5px;
}

.boggle.selected {
    background-color: #ACCEEC;
}

.boggle span {
    font-weight: bold;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#word-submit {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

#score-table {
    align-self: auto;
    border: 5px solid #FFCA08;
    border-collapse: collapse;
    text-align: left;
}

#score-table td, #score-table th {
    border: 5px solid #FFCA08;
    background-color: white;
    padding: 5px;
}

#score-table tr#footer td {
    background-color: #ACCEEC;
}
